
* {
    margin: 0;
}

h1,h2,h3{
    font-family: "Roboto", sans-serif;
}



.encabezado {
    color: rgb(248, 247, 247);
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.marca{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 50px;
}

.botton button{
    padding: 10px;
    background-color: rgb(253, 253, 253);  
    border-radius: 10px;
    border: none;   
    cursor: pointer;
}

.botton button:hover{
    color: rgb(121, 121, 121);
}

.Menu{
    display: flex;
    gap: 30px;
}
.Menu a{
    color: white;
    text-decoration: none;
    
}
.Menu a:hover {
    color: #8f8f8f; 
}

/* FOOTER */
.pie_pagina {
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    background-color: black;
    border-top:  1px solid rgb(245, 245, 245);
    color: white;
    padding: 30px;
}

.portada {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 70px;
}

.img_portada img {
    width: 700px;
    border-radius: 40px;
    padding-right: 100px;
}

.texto_portada{
    font-size: 50px;
}

.text-1, .text-4{
    color: rgb(0, 0, 0);
}
.text-2, .text-3{
    color: rgb(78, 76, 76);
}

.boton_portada{
    display: flex;
    justify-content:right;
    align-items: center;
    padding-right: 300px;
    padding-bottom: 50px;  
}

.boton_portada button{
    padding: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;

}

.bloque1{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 20px;
    align-items: center;
}

.Llamas{
    background-color: black;
    color: white;
    width: 400px;
    height: 200px;
    justify-content: center;
    display:flex ;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
}
.bloque2{
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.Llamas img{
    width: 90px;
    border-radius: 20px;
}

.Llamas2{
    background-color: black;
    color: white;
    width: 400px;
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.servicios{
    border: 1px black;
    border-style: outset;
    padding-top: 100px;
}
.titulo_servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 100px;
    height: 50px;
    width: 1000px;
    color:rgb(248, 247, 247);
    margin: auto;
}

.REGISTRO{
    padding: 50px;


}

.TITULO_REGISTRO{
    display: flex;
    justify-content: center;
    align-items: center;
}

.FORMULARIO{
    padding-top:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.label{
    font-size: 20px;
}

.FORMULARIO button{
    border: none;
    background-color: black;
    color: white;
    width: 100px;
    height: 70px;
    border-radius: 10PX;
}